#app {
    flex-wrap: wrap;
    display: flex;


}
#pokemon {
    margin: auto;
    width: 20%;
    display: flex;
    border: 2px saddlebrown solid;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;   
    box-shadow: 2px 3px 10px;
   
}